---
import { Image } from 'astro:assets';

import type { ImageMetadata } from 'astro';


const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}');
const { imagePath, altText } = Astro.props; 
const {url} = Astro.props;
const {buttontext} = Astro.props;
const {theme} = Astro.props;




if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/images/*.{jpeg,jpg,png,gif}"`);
---

<button tabindex="-1" class="item1">
    <a class={"buttontext " + theme} href={url}>{buttontext}</a>   
    <Image loading='eager' decoding='auto' src={images[imagePath]()} alt={altText}/>
</button>


