---
import Header_old from '../components/Header_old.astro';
import Footer_old from '../components/_Footer_old.astro';
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import '../styles/blog_orig.scss';
const {headerstyle} = Astro.props;
const {pageTitle} = Astro.props;
const {footerstyle} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="fadedout">
    
    <Header_old headerstyle={headerstyle}/>
    <main id="swup" class="transition-fade">
    <h1>{pageTitle}</h1>
 
    <slot />

   
    <Footer_old footerstyle={footerstyle}/>
  </main>


    <script>
      import "../scripts/menu.js";    
    </script>
   
  </body>
</html>